<!--CHRISTIAN-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Dedicated to your well-being, always.{% endblock %}
        </title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/style1.css') }}"
        />
    </head>

    <body>
        <ul>
            <li><a class="home-link" href="/">Home</a></li>
            <li><a class="dropdown" href="/about">About</a></li>

            <li class="dropdown">
                <a href="#">Search</a>
                <div class="dropdown-content">
                    <a href="/medicine">Medicine</a>
                    <a href="/alternativeMedicine">Alternative Medicine</a>
                    <a href="/treatments">Treatments</a>
                </div>
            </li>

            <li class="dropdown">
                <a href="#">Profile</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/login">Login</a>
                    <a href="/signUp">Signup</a>
                    <a href="/logout">Logout</a>
                </div>
            </li>
        </ul>
        <br />
        <br />
        <main>{%block content%}{% endblock %}</main>
    </body>
    <html></html>
</html>
