{% extends "base.html" %} {% block content %}
<br />
<!--VEL-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>View Websites</title>
    </head>
    <body>
        <h1 class="home" style="text-align: center; color: white">
            Welcome home, {{userName}}.
        </h1>
        <br />
        <div style="text-align: center; color: white">
            <p style="font-size: x-large">
                Medical Advisory for Underserved Communitites
            </p>
        </div>
        <!--insert latency table ga.html-->
    </body>
</html>

{% endblock %}
