{% extends "base.html" %} {% block content %}

<br />
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Profile</title>
    </head>

    <body>
        <h1
            id="welcomeMessage"
            class="home"
            style="text-align: center; color: white"
        >
            <span id="userName"></span>'s Profile
        </h1>
        <script>
            window.onload = function () {
                var userName = "{{userName}}";
                if (userName === null || userName === "") {
                    document.getElementById("userName").innerText = "Guest";
                } else {
                    document.getElementById("userName").innerText = userName;
                }
            };
        </script>

        <br />
        <div style="text-align: center; color: white">
            <p style="font-size: x-large">Medicine</p>
        </div>
    </body>
</html>

{% endblock %}
