{%extends "base.html" %} 
{% block content %}
    <!--CHRISTIAN-->
    
        <head>
            <meta charset="UTF-8">
            <title>Search</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
            <link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
            
        </head>
        <body>
            <h1  style="text-align:center;color:white;">Add Website</h1>
            <form class="form" action="addWebsite/newAddedWebsite" method="POST" onsubmit="return validateForm()">
                <p style="color:white;"><strong>Add a website URL so that we can track it, Detective.</strong></p>
                <label style="color:white;" for="fname">URL:</label>
                <input type="text" name="url" id="urlInput">
                <input type="submit" value="Submit">
            </form>
            <div class="container1">
                <div class="header">
                    Search
                </div>
                <div class="box1">
                    <input type="text" id="condition" placeholder="Condition">
                </div>
                <form class="form1">
                    <!--
                        I want a box where it will add items selected from the text box above that can be taken out.
                        Max of 3 items in the form and only allow a submit if there is 1 and less than or equal to 3 items.
                    -->
                </form>
            </div>
            <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
            <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
            <script>
                var test=null;
                $(document).ready(function() {
                    test=new Def.Autocompleter.Search('condition', 'https://clinicaltables.nlm.nih.gov/api/conditions/v3/search');
                });
                console.log(test);
            </script>
            <script src="{{ url_for('static', filename='js/noEmpty.js') }}"></script>
        </body>
{% endblock%}